body {
    background-color: #004225;
    font-family: 'Gill Sans', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#title {
    color: antiquewhite;
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
}

#user_info, #test_info {
    color: antiquewhite;
}