body {
    background-color: #fff5e4;
    font-family: 'Gill Sans', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.head {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    background-color: #fff5e4;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: sticky;
    border: #002515 solid 0.5px;
    border-top: none;
}

.menu {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    margin-right: 40px;
}

.menu_link {
    text-decoration: none;
    color: #004225;
    font-weight: 600;
    border-radius: 25px;
    padding-top: 7px;
    width: 80px;
    height: 30px;
    text-align: center;
}

.menu_link:hover {
    background-color: #e5d9c3d3;
}

#profile {
    color: #3d433d;
    padding-top: 7px;
    width: 80px;
    height: 30px;
    text-align: center;
}

/* hr {
    margin: 0px;
    padding: 0px;
    border: none;
    border-top: 1.5px solid #f4f0ec;
    box-shadow: 0 2px 10px rgba(26, 26, 26, 0.1);
    margin-right: 20px;
    margin-left: 20px;
} */

.main_photo {
    /* background-image: url('pictures/main_photo_5.jpg'); */
    background-color: #fff5e4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1238px;
    height: 400px;
    margin-left: 20px;
    margin-top: 8px;
    border-radius: 10px;
}

#head_text {
    margin-top: 0px;
    margin-left: 70px;
    font-size: 60px;
    font-family: 'Gill Sans', sans-serif;
    padding-top: 30px;
    margin-bottom: 0px;
    background: linear-gradient(90deg,#2b352d,#427c51 17%,#344937 33%,#1d1d1f 50.01%,#1d1d1f);
    background-size: 150% 100%;
    background-clip: text;
    color: rgba(0,0,0,0);
}

#second_text {
    margin-top: 20px;
    margin-left: 70px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

#start_button {
    margin-left: 70px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    background-color: #004225;
    color: #fff5e4;
    border-radius: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    opacity: 85%;
    background: linear-gradient(90deg,#2b352d,#335f3f 17%,#344937 33%,#1d1d1f 50.01%,#1d1d1f);
    background-size: 300% 100%;
}

#start_button:hover {
    background-color: #002515;
    cursor: pointer;
    border: #002515;
    box-shadow: -4px 6px 5px 1px rgba(18, 26, 16, 0.2);
}

#slogan {
    margin-top: 30px;
    margin-left: 70px;
    font-style: inherit;
    font-weight: 600;
    margin-bottom: 0px;
}

.info_text {
    margin-top: 30px;
    background-color: #fff5e4;
    padding-top: 20px;
}

#info_title_text {
    margin-left: 40px;
    color: #004225;
    font-size: 30px;
}

#info_main_text {
    margin-left: 40px;
    color: #004225;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px;
}

.steps {
    text-align: right;
    color: #004225;
    margin-top: 80px;
    background-color: #fff5e4;
}

#first_step, #third_step {
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-right: 40px;
}

.second_photo {
    background-color: #fff5e4;
    margin-top: 15px;
    height: 100px;
}

#second_step, #fourth_step {
    text-align: left;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 40px;
}