body {
    background-color: #f9f0e9;
    font-family: 'Gill Sans', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.head {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    background-color: #fffdf9;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: sticky;
    border-top: none;
    box-shadow: 1px 1px 10px rgb(182, 182, 182);
}

.menu {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    margin-right: 40px;
}

.menu_link {
    text-decoration: none;
    color: #004225;
    font-weight: 600;
    border-radius: 25px;
    padding-top: 7px;
    width: 80px;
    height: 30px;
    text-align: center;
}

#language_button {
    border: none;
    background-color: #fffdf9;
    font-family: 'Gill Sans', sans-serif;
    color: #004225;
    font-weight: 400;
    font-size: 17px;
    width: 80px;
    height: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    padding-top: 3px;
    cursor: pointer;
}

#language_button:hover, .menu_link:hover, #profile:hover {
    color: #066f42;
    text-shadow: 1px 1px 1px rgb(176, 176, 176);
}

#logo {
    transform: scale(0.6);
    width: auto;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#profile_logo {
    transform: scale(0.8);
    width: auto;
    height: 35px;
    cursor: pointer;
}

#profile {
    text-decoration: none;
    color: #004225;
    font-weight: 600;
    border-radius: 25px;
    padding-top: 7px;
    width: 60px;
    height: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 7px;
}

.above_photo {
    text-align: center;
}

#main_slogan {
    margin-top: 0px;
    color: rgba(0,0,0,0);
    font-size: 50px;
    background: linear-gradient(90deg,#2b352d,#14391d 17%,#44814e 33%,#214d2a 50.01%,#1d1d1f);
    background-size: 200% 100%;
    background-clip: text;
    margin-bottom: 20px;
}

.main_block {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.main_photo {
    background-image: url("pictures/main_photo_3.jpg");
    position: relative;
    width: 100%;
    height: 450px;
    min-height: 450px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main_text {
    justify-self: center;
    width: 600px;
}

#head_text {
    margin-top: 0px;
    font-size: 45px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    padding-top: 70px;
    margin-bottom: 0px;
    color: #eaeacd;
    margin-bottom: 50px;
}

#second_text {
    margin-top: 80px;
    margin-left: 20px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    opacity: 70%;
    text-align: justify;
    color: #80ae82;
}

.button_block {
    justify-self: center;
    margin-top: 20px;
}

#start_button {
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #004225;
    border-radius: 15px;
    color: #eaeacd;
    background-color: #0e623d;
    text-shadow: 1px 1px 1px rgb(176, 176, 176);
    box-shadow: -3px 3px 1px rgb(0, 0, 0);
    transition: all .35s;
    width: 100px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .35s;
    cursor: pointer;
}

#start_button:hover {
    color: #004225;
    background-color: #eaffdc;
    text-shadow: 1px 1px 1px rgb(109, 109, 109);
    box-shadow: -3px 3px 1px rgb(0, 0, 0);
    transition: all .35s;
    width: 150px;
    border-radius: 10px;
}

#slogan {
    margin-top: 30px;
    text-align: center;
    font-style: inherit;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 20px;
    color: #99c59c;
}

.info_text {
    background-color: #fffdf9;
    padding-top: 20px;
    padding-bottom: 80px;
}

#info_title_text {
    text-align: center;
    color: #004225;
    font-size: 25px;
    margin-top: 50px;
    font-weight: 700;
}

#info_main_text {
    text-align: center;
    margin-top: 40px;
    color: #004225;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px;
    font-style: italic;
}

.steps {
    display: inline-flex;
    align-items: stretch;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.header {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

#step_image {
    transform: scale(0.5);
    width: auto;
    height: 70px;
}

#first_step {
    flex: 1;
    background-color: #f9f0e9;
    padding: 20px;
    border-radius: 10px;
    color: #02301c;
}

#second_step {
    flex: 1;
    padding: 20px;
    background-color: #02301c;
    border-radius: 10px;
    color: #f9f0e9;
}

#third_step {
    flex: 1;
    background-color: #f9f0e9;
    padding: 20px;
    border-radius: 10px;
    color: #02301c;
}

#first_step_head, #second_step_head, #third_step_head {
    font-size: 23px;
    font-weight: 600;
}

#first_step_body, #second_step_body, #third_step_body {
    font-style: italic;
    margin-right: 20px;
    margin-left: 20px;
    color: grey;
}

#second_step_body {
    color: #99c59c;
}

.analys {
    display: inline-flex;
    align-items: stretch;
    margin-top: 30px;
    background-color: #02301c;
    border-radius: 10px;
    width: fit-content;
    margin-left: 100px;
    padding-right: 30px;
    padding-bottom: 10px;
}

#first_column, #second_column, #third_column, #fourth_column {
    flex: 1;
    width: 200px;
    color: #99c59c;
}

#first_column, #second_column, #third_column {
    margin-right: 56px;
}

#first_text {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 40px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 0px;
}

#second_text {
    margin-bottom: 20px;
    margin-top: 0px;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.contacts {
    background-color: #02301c;
}

#right_text {
    margin-bottom: 0px;
}

.contacts {
    display: inline-flex;
    align-items: stretch;
    padding-top: 20px;
    padding-right: 131px;
}

.first_column_contact {
    margin-left: 80px;
    width: 350px;
}

#contact_text {
    margin-top: 5px;
    margin-left: 50px;
    color: #99c59c;
    font-style: italic;
}

.three_logos {
    display: inline-flex;
    align-items: stretch;
    margin-left: 45px;
    gap: 10px;
}

#instagram_logo, #facebook_logo, #youtube_logo, #telephone_logo, #email_logo, #github_logo {
    transform: scale(0.8);
    width: auto;
    height: 35px;
    cursor: pointer;
}

.second_column_contact {
    margin-left: 220px;
}

#platform, #contacts {
    color: #7caf5a;
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 3px;
}

.link {
    text-decoration: none;
    color: #99c59c;
}

#enter {
    margin-bottom: 5px;
    margin-top: 8px;
    font-style: italic;
}

.third_column_contact {
    margin-left: 80px;
}

.contacts_logos {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
}

.logos, .contacts_text {
    flex: 1;
}

.logos {
    text-align: center;
    cursor: pointer;
}

.contacts_text {
    color: #99c59c;
}

#email_text {
    margin-top: 27px;
}

#github_text {
    margin-top: 38px;
}

.rights {
    background-color: #02301c;
}

#horizontal_hr {
    margin: 0px;
    color: #677e68;
    width: 100%;
    border: 0.5px solid #677e68;
    opacity: 50%;
}

.two_columns {
    display: inline-flex;
    align-items: stretch;
    color: #677e68;
    font-style: italic;
    font-weight: 300;
}

#left_text {
    margin-left: 120px;
}

#right_text {
    margin-left: 550px;
    text-align: right;
}