<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITest.ai - докажи, что ты настоящий IT-специалист!</title>
    <link rel="stylesheet" href="/frontend/static/style.css">
</head>
<body>
    <div class = 'head'>
        <a href="/"><img id="logo" src="frontend/static/pictures/logo.jpeg" alt="logo"></a>
        <div class = 'menu'>
            <a id="language_button" href="/set_language">En/Ru</a>
            <a class='menu_link' href="/">{{ t('main.header.home') }}</a>
            <a class='menu_link' href="#info_text_block">{{ t('main.header.about') }}</a>
            <a class='menu_link' href="/pick_topics">{{ t('main.header.test_me') }}</a>
            <a class='menu_link' href="#contacts_block">{{ t('main.header.contact') }}</a>
            <a class='profile_link' id="profile" href="/profile">{{ t('main.header.profile') }}</a>
            <a id="profile_container" href="/profile"><img id="profile_logo" src="frontend/static/pictures/profile_logo.jpeg" alt="profile_logo"></a>
        </div>
    </div>

    <div class="main_block">
        <div class="above_photo">
            <h1 id="main_slogan">{{ t('main.main_block.main_slogan') }}</h1>
        </div>
        <div class="main_photo">
            <div class="main_text">
                <p id="head_text">{{ t('main.main_block.head_text') }}</p>
                <p id="second_text">{{ t('main.main_block.second_text') }}</p>
                <h3 id="slogan">{{ t('main.main_block.slogan') }}</h3>
                <div class="button_block">
                    <form action="/pick_topics" method="GET">
                        <button id="start_button">{{ t('main.main_block.start_button') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="info_text" id="info_text_block">
        <div id="info_title_text">
            <a>{{ t('main.steps_block.info_title_text') }}</a>
        </div>
        <p id="info_main_text">{{ t('main.steps_block.info_main_text') }}</p>
        <div class="steps">
            <div id="first_step">
                <div class="header">
                    <img id="step_image" src="frontend/static/pictures/first_step.jpg" alt="first_step_logo">
                    <p id="first_step_head">{{ t('main.steps_block.first_step_head') }}</p>
                </div>
                <p id="first_step_body">{{ t('main.steps_block.first_step_body') }}</p>
            </div>
            <div id="second_step">
                <div class="header">
                    <img id="step_image" src="frontend/static/pictures/second_step.jpg" alt="second_step_logo">
                    <p id="second_step_head">{{ t('main.steps_block.second_step_head') }}</p>
                </div>
                <p id="second_step_body">{{ t('main.steps_block.second_step_body') }}</p>
            </div>
            <div id="third_step">
                <div class="header">
                    <img id="step_image" src="frontend/static/pictures/third_step.jpg" alt="third_step_logo">
                    <p id="third_step_head">{{ t('main.steps_block.third_step_head') }}</p>
                </div>
                <p id="third_step_body">{{ t('main.steps_block.third_step_body') }}</p>
            </div>
        </div>
        <div class="analys">
            <div id="first_column">
                <p id="first_text">{{ t('main.steps_block.first_column_first_text') }}</p>
                <p id="second_text">{{ t('main.steps_block.first_column_second_text') }}</p>
            </div>
            <div id="second_column">
                <p id="first_text">{{ t('main.steps_block.second_column_first_text') }}</p>
                <p id="second_text">{{ t('main.steps_block.second_column_second_text') }}</p>
            </div>
            <div id="third_column">
                <p id="first_text">{{ t('main.steps_block.third_column_first_text') }}</p>
                <p id="second_text">{{ t('main.steps_block.third_column_second_text') }}</p>
            </div>
            <div id="fourth_column">
                <p id="first_text">{{ t('main.steps_block.fourth_column_first_text') }}</p>
                <p id="second_text">{{ t('main.steps_block.fourth_column_second_text') }}</p>
            </div>
        </div>
    </div>
    <div class="contacts" id="contacts_block">
        <div class="first_column_contact">
            <a href="/"><img id="logo" src="frontend/static/pictures/white_logo.jpg" alt="logo"></a>
            <p id="contact_text">{{ t('main.contacts_block.contact_text') }}</p>
            <div class="three_logos">
                <img id="instagram_logo" src="frontend/static/pictures/instagram_logo.jpg" alt="instagram_logo">
                <img id="facebook_logo" src="frontend/static/pictures/facebook_logo.jpg" alt="facebook_logo">
                <img id="youtube_logo" src="frontend/static/pictures/youtube_logo.jpg" alt="youtube_logo">
            </div>
        </div>
        <div class="second_column_contact">
            <p id="platform">{{ t('main.contacts_block.platform') }}</p>
            <p id="enter"><a class='link' href="/">{{ t('main.header.home') }}</a></p>
            <p id="enter"><a class='link' href="/#info_text_block">{{ t('main.header.about') }}</a></p>
            <p id="enter"><a class='link' href="/pick_topics">{{ t('main.header.test_me') }}</a></p>
            <p id="enter"><a class='link' href="/#contacts">{{ t('main.header.contact') }}</a></p>
        </div>
        <div class="third_column_contact">
            <p id="contacts">{{ t('main.contacts_block.contacts') }}</p>
            <div class="contacts_logos">
                <div class="logos">
                    <p id="enter"><img id="telephone_logo" src="frontend/static/pictures/telephone.jpg" alt="telephone_logo"></p>
                    <p id="enter"></p><img id="email_logo" src="frontend/static/pictures/email.jpg" alt="email_logo"></p>
                    <p id="enter"></p><img id="github_logo" src="frontend/static/pictures/github.jpg" alt="github_logo"></p>
                </div>
                <div class="contacts_text">
                    <p id="telephone_number">+7 931 354 85 05</p>
                    <p id="email_text">maria.yu.nikitina@icloud.com</p>
                    <p id="github_text">https://github.com/grupunzel</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rights">
        <hr id="horizontal_hr">
        <div class="two_columns">
            <p id="left_text">{{ t('main.contacts_block.left_text') }}</p>
            <p id="right_text">{{ t('main.contacts_block.right_text') }}</p>
        </div>
    </div>
</body>
</html>