<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick a topic</title>
    <link rel="stylesheet" href="/frontend/static/pick_topics.css">
</head>
<body>
    <div class = 'head'>
        <a href="/"><img id="logo" src="frontend/static/pictures/logo.jpeg" alt="logo"></a>
        <div class = 'menu'>
            <a id="language_button" href="/set_language">En/Ru</a>
            <a class='menu_link' href="/">{{ t('pick_topics.header.home') }}</a>
            <a class='menu_link' href="#info_text_block">{{ t('pick_topics.header.about') }}</a>
            <a class='menu_link' href="/pick_topics">{{ t('pick_topics.header.test_me') }}</a>
            <a class='menu_link' href="#contacts_block">{{ t('pick_topics.header.contact') }}</a>
            <a class='profile_link' id="profile" href="/profile">{{ t('pick_topics.header.profile') }}</a>
            <a id="profile_container" href="/profile"><img id="profile_logo" src="frontend/static/pictures/profile_logo.jpeg" alt="profile_logo"></a>
        </div>
    </div>

    <div class="main_block">
        <div class="assistant_message">
            <img id="robot_logo" src="frontend/static/pictures/robot.jpeg" alt="robot_logo">
            <p id="ai_message">{{ t('pick_topics.main_block.ai_message_first') }}&#128513; {{ t('pick_topics.main_block.ai_message_second') }}</p>
        </div>

        <div class="user">
            <form action="/pick_topics" method="POST">
                <textarea id="user_input" placeholder="Python, C++, SQL, . . ." name="user_topics" required></textarea>
                <hr id="horizontal_hr">
                <div class="submit">
                    <button id="submit_button">{{ t('pick_topics.main_block.create_button') }}</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>