<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/frontend/static/profile.css">
</head>
<body>
    <div class = 'head'>
        <a href="/"><img id="logo" src="frontend/static/pictures/logo.jpeg" alt="logo"></a>
        <div class = 'menu'>
            <button id="language_button">En/Ru</button>
            <a class='menu_link' href="/">Home</a>
            <a class='menu_link' href="#">About</a>
            <a class='menu_link' href="/pick_topics">Test me</a>
            <a class='menu_link' href="#">Contacts</a>
            <a class='profile_link' id="profile" href="/profile">Profile</a>
            <a id="profile_container" href="/profile"><img id="profile_logo" src="frontend/static/pictures/profile_logo.jpeg" alt="profile_logo"></a>
        </div>
    </div>
    <div class="main_block">
        <div class="left_block">
            <div class="left_block_head">
                <img id="profile_logo" src="frontend/static/pictures/profile_logo.jpeg" alt="profile_logo">
                <p id="left_block_head_text">Profile</p>
            </div>
            <hr class="profile_hr">
            <div class="left_block_body"></div>
            <div class="log_out_block">
                <a class="log_out_link" href="/log_out">⍇ Log out</a>
            </div>
            <div class="delete_block">
                <a class="delete_link" href="/delete_account">✗ Delete account</a>
            </div>
        </div>
        <div class="right_block">
            <div class="right_block_head">
                <img id="report_logo" src="frontend/static/pictures/report_logo.jpeg" alt="report_logo">
                <p id="right_block_head_text">Tests history</p>
            </div>
            <hr class="profile_hr">
            <div class="right_block_body"></div>
        </div>
    </div>
    
    <script type="application/json" id="user_data">
        {{ user_info | tojson }}
    </script>
    <script type="application/json" id="test_data">
        {{ test_info | tojson }}
    </script>
    
    <script src="/frontend/static/js/profile.js"></script>

</body>
</html>