<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/frontend/static/test.css">
</head>
<body>
    <div class = 'head'>
        <a id="logo">Logo</a>
        <div class = 'menu'>
            <a class='menu_link' href="#">About</a>
            <a class='menu_link' href="#">Test me</a>
            <a class='menu_link' href="#">Create</a>
            <a class='menu_link' href="#">Contacts</a>
            <a class='menu_link' id="profile" href="/profile">Profile</a>
        </div>
    </div>

    <div class="main_block">
        <div class="left_block">
            <div class="navigation">
                <img id="navigation_logo" src="frontend/static/pictures/Navigation_logo.png" alt="navigation_log">
                <a id="navigation_text">Navigation</a><br><br>
            </div>
            <hr>
            <div class="buttons" id="quick_navigation"></div>
        </div>
        <div class="right_block">
            <div id="current_question_block">
                <div id="question_card" class="question_card">
                    <p class="question_info" id="question_text"></p>
                    <p class="question_info" id="question_module"></p>
                    <p class="question_score" id="question_score"></p>

                    <div id="answers_list"></div>
                    <div id="answer_input_block">
                        <a>Answer: <input type="text" id="answer_input" name="answers"></a>
                    </div>
                    <div id="file_answer_input_block">
                        <a>Answer: <input type="file" id="file_answer_input" name="file_answer_path"></a>
                    </div>

                    <div class="answer_stat" id="answer_status"></div>
                </div>
            </div>

            <div class="nav_buttons">
                <button id="previous_button" class="navigation_buttons" disabled>
                    <div class="navigation">
                        <span>Previous</span>
                    </div>
                </button>
                <button id="next_button" class="navigation_buttons">
                    <div class="navigation">
                        <span>Next</span>
                    </div>
                </button>
            </div>

            <div id="finish_block" style="display: none;">
                <button id="finish_button" class="finish">Finish test</button>
            </div>
        
    </div>
    
    <script type="application/json" id="questions_data">
        {{ questions | tojson }}
    </script>
    
    <script src="/frontend/static/js/test.js"></script>
</body>
</html>